<h1 class="text-warning">Sign up</h1>
<%= form_for :user, url: signup_path do |f| %>


  <h5 class="text-white">
Name<br>
<%= f.text_field(:name, {:class => 'form-control bg-dark text-white'}) %>

  </h5>
  <h5 class="text-white">
email<br>
<%= f.text_area(:email, {:class => 'form-control bg-dark text-white'}) %>

  </h5>
  <h5 class="text-white">>
password<br>
<%= f.text_field(:password, {:class => 'form-control bg-dark text-white'}) %>

  </h5>

<h5 class="text-white">
  <%= f.submit({:class => 'btn btn-warning'}) %>
  </h5>
  <% end %>
